<!DOCTYPE html>
<html ng-app="" ng-csp>
  <head>
  	<link rel="stylesheet" type="text/css" href="app.css">

    <script type="text/javascript" src="lib/angularjs/angular.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>
  <body id="body"
        ng-controller="RulerControl"
        ng-init="init('vertical')"
        ng-mouse
        ng-mousemove="mousemove($event)">


    <div id="px" style="width: 1px; display: none;"></div>
    <div id="cm" style="width: 1cm; display: none;"></div>
    <div id="in" style="width: 1in; display: none;"></div>

    <div id="ruler" class="ruler vertical">
      <canvas id="ruler_canvas" class="vertical"></canvas>
      <button id="close_window_button" class="vertical" ng-click="closeWindow()"></button>
      <button class="units_label vertical"
              ng-click="unitsClicked()">{{horizontal.units_label}}</button>
    </div>
  </body>
</html>