<!DOCTYPE html>
<html ng-app="ruler" ng-csp>
  <head>
    <link rel="stylesheet" type="text/css" href="app.css">

    <script type="text/javascript" src="lib/angularjs/angular.js"></script>
    <script src="lib/analytics/google-analytics-bundle.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>
  <body id="body"
        ng-controller="RulerControl"
        ng-init="init('horizontal')"
        ng-mouse
        ng-mousemove="mousemove($event)">


    <div id="px" style="width: 1px; display: none;"></div>
    <div id="cm" style="width: 1cm; display: none;"></div>
    <div id="in" style="width: 1in; display: none;"></div>

    <div id="ruler" class="ruler horizontal">
      <canvas id="ruler_canvas"></canvas>
      <button id="close_window_button" class="horizontal" ng-click="closeWindow()"></button>
      <button class="units_label horizontal"
              ng-click="unitsClicked()">{{horizontal.units_label}}</button>
      <button id="horizontal_ruler" class="horizontal" ng-click="createHorizontalRuler()"></button>
      <button id="vertical_ruler" class="horizontal" ng-click="createVerticalRuler()"></button>
      <button id="show_settings" class="horizontal" ng-click="showSettings()"></button>
      <div id="settings" hidden>

          <div id="screen_size" ng-hide="horizontal.units == 'px'">
              diagonal screen size for calibration:
              <input type="number"
                     id="diagonal_size_in"
                     ng-model="screen_diagonal_inches"
                     ng-change="updateScreenInches()"
                     ng-show="horizontal.units == 'in'" />
              <input type="number"
                     id="diagonal_size_cm"
                     ng-model="screen_diagonal_cm"
                     ng-change="updateScreenCm()"
                     ng-show="horizontal.units == 'cm'" />
              {{horizontal.units_label}} |&nbsp; 
          </div>
          <div>
              <input id="analytics" type="checkbox" />
              use anonymous analytics data.
          </div>
      </div>
    </div>
  </body>
</html>