<!DOCTYPE html>
<html ng-app="ruler" ng-csp>
  <head>
  	<link rel="stylesheet" type="text/css" href="app.css">

    <script type="text/javascript" src="lib/angularjs/angular.js"></script>
    <script src="lib/analytics/google-analytics-bundle.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>
  <body id="body"
        ng-controller="RulerControl"
        ng-init="init('vertical')"
        ng-keydown="keydown($event)"
        ng-mouse
        ng-mousemove="mousemove($event)">

    <div id="px" style="width: 1px; display: none;"></div>
    <div id="cm" style="width: 1cm; display: none;"></div>
    <div id="in" style="width: 1in; display: none;"></div>

    <div id="ruler" class="ruler vertical"
         ng-mousemove="mousemove($event)"
         ng-mousedown="mousepress($event)">
      <canvas id="ruler_canvas" class="vertical"></canvas>
      <button id="close_window_button" class="vertical" ng-click="closeWindow()"></button>

      <div id="units_container" class="vertical">
        <button ng-click="selectPx()" ng-class="{selected: isPx()}">px</button>
        <button ng-click="selectCm()" ng-class="{selected: isCm()}">cm</button>
        <button ng-click="selectIn()" ng-class="{selected: isIn()}">in</button>
      </div>

      <button id="horizontal_ruler" class="vertical" ng-click="createHorizontalRuler()"></button>
      <button id="vertical_ruler" class="vertical" ng-click="createVerticalRuler()"></button>
      <!--<button id="show_settings" class="vertical" ng-click="showSettings()"></button>-->
    </div>
  </body>
</html>