<!DOCTYPE html>
<html ng-app="" ng-csp>
  <head>
  	<link rel="stylesheet" type="text/css" href="app.css">

    <script type="text/javascript" src="lib/angularjs/angular.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>
  <body ng-controller="RulerControl" ng-init="init()">

    <div id="ruler_horizontal" class="ruler">
      <button id="close_window_button" ng-click="closeWindow()"></button>
      <div ng-repeat="tick in horizontal.ticks"
           class="{{tick.type}}_tick"
           style="left: {{$index*horizontal.tick_spacing}}px"></div>

      <div class="ruler_label"
           ng-repeat="label in horizontal.labels"
           style="left: {{label.y}}px">{{label.title}}</div>
    </div>
  </body>
</html>